.winning-numbers {
  max-height: 300px;
  margin-top: 16px;
  background-color: rgb(16 50 19);
  overflow-y: scroll;
  flex-grow: 1;
  padding: 16px 16px 16px 16px;
}

/* Customize the scrollbar track */
.winning-numbers::-webkit-scrollbar-track {
  background-color: rgb(20 37 22);
}

/* Customize the scrollbar thumb */
.winning-numbers::-webkit-scrollbar-thumb {
  background-color: rgb(173 156 131);
}

/* Customize the scrollbar thumb on hover */
.winning-numbers::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Customize the scrollbar width */
.winning-numbers::-webkit-scrollbar {
  width: 10px;
}

/* Customize the scrollbar height */
.winning-numbers::-webkit-scrollbar {
  height: 10px
}

.winning-numbers p {
  color: #EFDFC7;
  font-size: 24px;
}