@font-face {
    font-family: 'Jost';
    src: url('../../fonts/Jost-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
.header-top-left {
    display: flex;
    width: 393px;
}

.header-top-left-text,.cross-img {
    font-size: 24px;
    font-family: 'Jost';
    font-weight: 600;
    line-height: 32px;
    align-self: center;
    color: #EFDFC7;
    margin-right: 6px;
}


.header-top-right-text {
    color: #FD9D20;
    font-size: 24px;
    font-family: 'Jost';
    align-self: center;
}

.header-top,.header-bottom
{
    display: flex;
    justify-content: space-between;
}
.header-top-left-text
{
    font-size: 18px;
    font-family: 'Jost';
    color: #EFDFC7;
}
.first
{
    padding-left: 60px;
}
