.App {
  background-image: url('./images/vector_casino_table 1.jpg');
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.wrapper
{
  padding: 16px 16px 16px 16px

}

.App-header {
  
  color: white;
}

.App-link {
  color: #61dafb;
}
.main
{
  padding-top: 16px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
